@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}


.main-container{
    width: 90%;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    /* border: 1px solid; */
    margin-bottom: 100px;
    min-height: 500px;

}
.page-error{
    text-align: center;

}
.page-error h3{
    font-size: larger;
    color: rgb(228, 71, 97);
    padding: 20px;

    
}