.otp-container {
    position: relative;
  }
  
  .verifying-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
    z-index: 1000; /* high z-index to appear on top */
    display: flex;
    justify-content: center;
    align-items: center;
  }