/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutMianDiv {
  width: 70vw;
  height: 95vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border-radius: 30px;
  padding: 17px;
  margin-top: 5%;
}

.about {
  width: 45%;
  color: black;
}

.about h1 {
  text-align: left;
  font-family: "Radio Canada", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
}

.descrpt span {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: rgba(231, 1, 60, 1);
}

.descrpt p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
}

.team-button-quality {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: black;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.3s ease;
}

.team-button-quality:hover {
  background-color: rgba(231, 1, 60, 1);
  color: black;
  transform: scale(1.05);
}

.iconsbtn-team {
  font-size: 2rem;
}

.Team {
  font-size: 15px;
  font-weight: bold;
}

.misson h1 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.misson p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
}

.imageDiv {
  width: 38%;
  height: 90%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageDiv div {
  height: 90%;
  width: 90%;
  background-color: black;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  clip-path: polygon(0% 45%, 36% 0%, 100% 0%, 100% 74%, 67% 100%, 0% 99%);
  background-image: url("../../../Images/coffyWith.png");
  background-size: cover;
  background-position: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutMianDiv {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    height: auto;
  }

  .about {
    width: 100%;
  }

  .about h1 {
    font-size: 30px;
    text-align: center;
  }

  .descrpt span {
    font-size: 18px;
  }

  .descrpt p {
    font-size: 16px;
  }

  .team-button-quality {
    width: 80%;
    margin: 20px auto;
  }

  .misson h1 {
    font-size: 24px;
  }

  .misson p {
    font-size: 14px;
  }

  .imageDiv {
    width: 80%;
    height: auto;
  }

  .imageDiv div {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about h1 {
    font-size: 25px;
  }

  .descrpt span {
    font-size: 16px;
  }

  .descrpt p {
    font-size: 14px;
  }

  .team-button-quality-quality {
    font-size: 12px;
  }

  .misson p {
    font-size: 12px;
  }

  .imageDiv div {
    height: 200px;
  }
}
